.button {
  height: 30px;
  width: 85px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: darkred;
  color: white;
  cursor: pointer;
  border: none;
}

.button:hover {
  background-color: white;
  color: darkred;
  border: 1px solid black;
}
