.list-container {
  width: 1000px;
  border-radius: 5px;
  background-color: white;
  padding: 25px;
  margin-top: 50px;
}

.lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.container-left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

p {
  margin: 0px;
}

.border {
  border-bottom: 1px solid rgba(128, 128, 128, 0.522);
  padding: 10px;
  margin-bottom: 20px;
}
