.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 60px;
  background-color: rgb(104, 26, 26);
  height: 70px;
}

h2 {
  font-size: 32px;
  color: white;
  margin: 0px;
}

img {
  height: 400px;
  width: 100vw;
  background-size: cover;
}

@media (max-width: 830px) {
  img {
    height: 250px;
  }
}

@media (max-width: 600px) {
  .header-content {
    flex-direction: column;
    gap: 20px;
    height: 120px;
  }
}
